h1 h2 h3 h4 h5 h6  {
  font-family: Yu Gothic Light;
}

.header {  
  background-image: url(images/crafty-background.jpg);
}
.header_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
  border: 3px solid #7a7a7a;
}
.buttons{
  font-family: Yu Gothic Light;
}
.contact_text{
  font-style: italic;
  font-size: 15px;
}
.mainContent {
  font-family: Yu Gothic Regular;
}
.profile_img {
  border-radius: 50%;
  margin: 10px;
  width: 200px;
  height: auto;
  border: 3px solid #7a7a7a;
}
.contactInfo {
  color: white;
  align-self: center;
  font-family: Yu Gothic Light;
  font-size: 15px;
}
.contact_us {
  font-family: monospace;
  align-self: center;
  font-size: 15px;
}
.bold_text{
  font-family: fantasy;
}

#company {
  font-size: 20px;

}
#map {
  width: 300px;
  height: 200px;

  background-color: #bdbdbd;
  margin: 10px;
}