.header {  
  background-color: #474954;
  border: 3px solid #7a7a7a;
}
.body {
  background-color: #F6F7F8;
}
.header_img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
  border: 3px solid #7a7a7a;
}
.buttons .menu {
  font-family: Yu Gothic Light;
  font-size: 20px;
}
.contact_text{
  font-style: italic;
  font-size: 15px;
  color: #8b5022;
}
.mainContent {
  font-family: Yu Gothic Regular;
}
.profile_img {
  border-radius: 50%;
  margin: 10px;
  width: 10rem;
  height: 10rem;
  border: 3px solid #7a7a7a;
}
.contactInfo {
  color: #ffffff;
  align-self: center;
  font-family: Yu Gothic Light;
  font-size: 15px;
}
.contact_us {
  font-family: monospace;
  align-self: center;
  font-size: 15px;
}
.bold_text{
  font-family: fantasy;
  color: #8b5022;
}

#company {
  font-size: 20px;
}
#map {
  width: 300px;
  height: 200px;

  background-color: #bdbdbd;
  margin: 10px;
}