
.header {  
  background-image: url(images/crafty-background.jpg);
  border: 3px solid #7a7a7a;
}
.header_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
  border: 3px solid #7a7a7a;
}
.main {
  margin: 10px;
}
.back_img {
  width: 30px;
  height: auto;
}
.footerContent {
  position: relative;
}
.footer_img { 
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}
.contactInfo {
  color: white;
  align-self: center;
  font-family: monospace;
}
.contact_us {
  font-family: monospace;
  align-self: center;
  font-size: 15px;
}