h1 {
  font-family: Yu Gothic Light;
}

.header {  
  background-color: #474954;
  border: 3px solid #7a7a7a;
}
.body {
  background-color: #F6F7F8;
}
.header_img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
  border: 3px solid #7a7a7a;
}
.main_content {
  margin: 30px;
}
.main_content_img {
  border-radius: 10%;
}
.news_event {
  margin: 100px;
}
.event_title , .news_title {
  font-size: 35px;
  font-family: Yu Gothic Light;
  text-decoration: underline;
  color: #8b5022;
}
.event_time, .news_header {
  font-family: fantasy;
}
.event_info, .news_info {
  font-family: sans-serif;
}
.quote {
  font-style: italic;
  color: #8b5022;
}
.buttons .menu {
  font-family: Yu Gothic Light;
  font-size: 20px;
}
.footer_img { 
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
}
.contactInfo {
  color: white;
  align-self: center;
  font-family: monospace;
}