h1 {
    font-family: Yu Gothic Light;
}

.header {
    background-image: url(images/crafty-background.jpg);
}
.header_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    border: 3px solid #7a7a7a;
}
.product_img {
    width: auto;
    height: 100px;
}
.buttons {
    font-family: Yu Gothic Light;
}
.card-btn {
  border-radius: 10%;
  font-family: Yu Gothic;
}
.gray {
  background-color: #cfcece;
}
.green { 
  background-color: rgb(85, 233, 85);
}
.red {
  background-color: rgb(219, 60, 60);
}
.cart {
  margin: 10px;
  
}
.cart_img {
  width: 30px;
  height: auto;
}
.footer_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}
.contactInfo {
    color: white;
    align-self: center;
}