h1 {
    font-family: Yu Gothic Light;
}

.header {
  background-color: #474954;
  border: 3px solid #7a7a7a;
}
.header_img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
  border: 3px solid #7a7a7a;
}
.body {
  background-color: #F6F7F8;
}
.product_card {
  text-align: center;
  justify-items: center;
  margin: 50px;
}
.product_img {
    width: 250px;
    height: auto;
    border-radius: 10%;
    border: 2px solid #474954;
}
.product_title{
  color: #8b5022;
  font-family: fantasy;
  font-size: 30px;
}
.product_price {
  font-family: monospace;
  color: #7a7a7a;
  font-size: 25px;
}
.product_description {
  font-family: Yu Gothic;
  color: #7a7a7a;
  font-size: 20px;
}
.buttons .menu {
  font-family: Yu Gothic Light;
  font-size: 20px;
}
.card-btn {
  border-radius: 10%;
  border: none;
  font-family: Yu Gothic;
  font-size: 17px;
  margin: 5px;
}
.gray {
  background-color: #cfcece;
}
.green { 
  background-color: rgb(85, 233, 85);
}
.red {
  background-color: rgb(219, 60, 60);
}
.card {
  margin: 30px;
}
.cart_header {
  font-size: 30px;
}
.footer_img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 10px;
}
.contactInfo {
  color: #ffffff;
  align-self: center;
}

#cartTotal{
  font-size: 20px;
  font-family: Yu Gothic Light;
}